
    <div class="card bg-success h-100 p-2 allgame">
        <div class="row h-40 p-2  game">
            <div class="col-sm-3 p-3  w-50 ">
                <div class="card bg-warning h-100 ">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 p-3 w-50">
                <div class="card bg-warning h-100 ">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 p-3 w-50">
                <div class="card bg-warning h-100 ">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 p-3 w-50">
                <div class="card bg-warning h-100 ">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 p-3 w-50">
                <div class="card bg-warning h-100 ">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row h-40 p-2  game">
            <div class="col-sm-3 p-3 w-50">
                <div class="card bg-warning h-100 ">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 p-3 w-50">
                <div class="card bg-warning h-100 ">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 p-3 w-50">
                <div class="card bg-warning h-100 ">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 p-3 w-50">
                <div class="card bg-warning h-100 ">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 p-3 w-50">
                <div class="card bg-warning h-100 ">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row h-40 p-2  game">
            <div class="col-sm-3 p-3 w-50">
                <div class="card bg-warning h-100 ">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 p-3 w-50">
                <div class="card bg-warning h-100 ">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 p-3 w-50">
                <div class="card bg-warning h-100 ">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 p-3 w-50">
                <div class="card bg-warning h-100 ">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 p-3 w-50">
                <div class="card bg-warning h-100 ">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
