<div class="container-fluid bg-danger h-100 main">
    <div class="row h-5 nav">
        <nav class="navbar navbar-expand-sm h-100 bg-light">
            <div class="container-fluid bg-primary py-4">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">link</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">link</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row p-3 h-90 center ">
        <div class="col-sm-3 p-3 team">
            <app-bloc-team></app-bloc-team>
        </div>
        <div class="col-sm-9 py-3 game">
            <app-game></app-game>
        </div>
    </div>
</div>
